<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instructions</title>
  </head>
  <body>
    <div className="info-page-container">
        <div className="mealpack-info-page card">
            <% if(recipe)  {%>
                <img className="food-image" src="<%= recipe.image %>"></img>
                <h1><%= recipe.title %></h1>
                <h4>Servings: <%= recipe.servings %></h4>
                <div className="ingredients-block">
                    <h4>Ingredients:</h4>
                    <% for (let e of recipe.extendedIngredients) {%>
                        <p className="ingredient"><%= e.name %></p>
                    <% } %>
                </div>
                <h4>Instructions:</h4>
                <div className="instructions-block">                   
                        <% for (let e of recipe.analyzedInstructions[0].steps) {%>
                            <p className="instruction"><strong><%= e.number %>.</strong> <%= e.step %></p>
                        <% } %>
                    </ul>
                </div>
            <% } else { %>
                <h1>Not Found</h1>
            <% } %>
        </div>
      </div>
  </body>
</html>
